/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");
/* This must remain at the top of this file.                 */

html {
	/*-- Main font sizes --*/
	--title-size: 30px;
	--body-size: 0.95rem;
	--code-size: 0.90rem;
	--aside-size: 0.80rem;
	--fig-cap-size: 0.80rem;
	/*-- Main font colors --*/
	--title-color: #000000;
	--header-color: #000000;
	--body-color: #000000;
	--aside-color: #000000;
	--fig-cap-color: #000000;
	/*-- Specify custom fonts ~~~ must be imported above   --*/
	--heading-font: "Lato", sans-serif;
	--mono-font: "Source Code Pro", monospace;
	--body-font: "Noticia Text", serif;
	--navbar-font: "Lato", sans-serif; /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
	--heading-size: 0.6rem;
	--heading-color: rgba(0, 0, 0, 0.5);
	--body-size: 0.8rem;
	--body-color: rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
	--heading-size: 18px;
	--contents-size: 13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
	--heading-size: 15px;
	--heading-color: rgba(0, 0, 0, 0.65);
	--text-size: 0.8em;
	--text-color: rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
	--title-size: 18px;
	--text-color: rgba(255, 255, 255, 0.856);
	--text-size: 18px;
	--hover-color: white;
	--bkgd-color: #43658b;
}

.distill-site-footer {
	--text-color: rgba(255, 255, 255, 0.8);
	--text-size: 15px;
	--hover-color: white;
	--bkgd-color: #43658b;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */
.distill-site-nav {
	font-weight: 700;
}

d-article pre {
	background-color: #fffcf5;
}

d-article ul,
d-aricle ol {
	font-size: 0.95rem;
	font-family: "Noticia Text", serif;
}

d-article h2 {
	font-size: 20px;
}

d-article h3 {
	font-size: 18px;
}

video {
	padding-top: 10px;
}
